Repository Krivega/repeated-calls: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write --ignore-unknown, tsc-files --noEmit

chore(release): 2.3.5
  CHANGELOG.md
  package.json
Due: none

chore: fix
  package.json
Due: none

feat: add stopRepeatedCalls
  README.md
  src/__tests__/async.ts
  src/__tests__/sync.ts
  src/repeatedCallsAsync.ts
  src/repeatedCallsSync.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown, tsc-files --noEmit

chore(release): 2.4.0
  CHANGELOG.md
  package.json
Due: none

chore: update dependencies
  eslint.config.ts
  package.json
  yarn.lock
Due: tsc-files --noEmit

chore: update dependencies
  package.json
  vite.config.ts
  yarn.lock
Due: tsc-files --noEmit

fix: update return type of validateParams function
  src/utils.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown, tsc-files --noEmit

refactor: update repeatedCallsAsync to include explicit error type and improve type safety
  src/__tests__/async.ts
Due: eslint --cache --fix, prettier --write --ignore-unknown, tsc-files --noEmit

Path conditions:
  eslint --cache --fix: any of: src/**/*.{js,ts}
  prettier --write --ignore-unknown: any of: src/**/*.{js,ts,css,scss,md}
  tsc-files --noEmit: any of: **/*.ts
